examples/Create_History
*.o
*.Po
*.net
Makefile
Makefile.in
*__pycache__*
Pre_post_processing/pygplates.so
src/Py2C/Py2C
src/aclocal.m4
src/autom4te.cache/
src/bin/CitcomSFull
src/bin/CitcomSRegional
src/config.h
src/config.h.in~
src/config.log
src/config.status
src/configure
src/lib/libCitcomS.a
src/libtool
src/stamp-h1
src/visual/project_geoid
src/aux-config/ltmain.sh
src/config.h.in
src/m4/libtool.m4
src/m4/ltoptions.m4
src/m4/ltversion.m4

