# Compiled Object files
*.slo
*.lo
*.o
*.hi

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binary files
*.exe

# AESON files
*.aes

# LaTex stuff
*.vrb
*.aux
*.log
*.toc
*.bbl 
*.out
*.blg
*.snm
*.nav

# Archives
*.zip
*.tar
*.gz
*.bz2
*.tgz

# VTK stuff
*.pvd
*.vtu

# directories
.metadata/
.project/
.classpath/
.settings/

# android stuff / eclipse stuff
*.class
*.jar
*.project
*.classpath

