# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
#                      California Institute of Technology
#                        (C) 2006  All Rights Reserved
#
# {LicenseText}
#
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#

[dark-bg]

filename  = LightGreen
line      = LightGreen
function  = LightPurple
src       = Yellow

facility          = LightBlue
severity-debug    = LightCyan
severity-info     = LightGreen
severity-error    = LightRed
severity-warning  = Yellow


# end of file
